/* Basic styling for the body, centering everything */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, #7f7f7f, #222);
}
.pedalContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 0;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 20px;
    background: radial-gradient(circle, #303030, #464646, #363636);
    box-shadow: 0 10px 8px rgba(27, 27, 27, 0.7);
}

/* Margin for the header */
h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2 4px #000;
    color: #ff0;
    white-space: nowrap;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-size: 3.4rem;
    font-style: normal;
    font-variation-settings: "ELSH" <element shape>;
}

/* Style for the pedal container */
#pedal {
    background: #666;
    border: 1px solid #333;
    padding: 17px;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 8.5px;
    width: 425px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(100deg, #727272, #616161, #5f5f5f, #474646);
}

label[for="fuzz"]::before {
    content: "FUZZ";
    visibility: visible;
}
label[for="lowcut"]::before {
    content: "HIGHPASS";
    visibility: visible;
}
label[for="low"]::before {
    content: "LOW";
    visibility: visible;
}
label[for="mid"]::before {
    content: "MID";
    visibility: visible;
}
label[for="high"]::before {
    content: "HIGH";
    visibility: visible;
}
label[for="hicut"]::before {
    content: "LOWPASS";
    visibility: visible;
}
label[for="output"]::before {
    content: "OUTPUT";
    visibility: visible;
}

.pedalControlContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8.5px;
    width: 100%;
}
.pedalControlContainer.hidden {
    display: none;
}

/* Style for each control */
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Label styling */
.pedalControlContainer label {
    color: #ddd;
    text-shadow: 1px 1px 2px #000;
    font-size: 0.7rem;
    position: relative;
}

.control output {
    position: relative;
    top: 0px;
}
/* Vertical slider container */
.vertical-slider-container {
    position: relative;
    width: 34px;
    height: 127.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Vertical sliders */
.vertical-slider {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 110px;
    height: 30px;
    background: #aaa;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #4b4b4b, #656565, #3d3d3d);
    transform: rotate(-90deg);
    transform-origin: center;
    margin: 66.3px;
}

/* Slider thumb styling for WebKit browsers */
.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 34px;
    background: #ccc;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: -4px 0 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(250deg, #ddd, #bbb, rgb(42, 42, 42));
}

/* Slider thumb styling for Mozilla browsers */
.vertical-slider::-moz-range-thumb {
    width: 17px;
    height: 34px;
    background: #ccc;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(145deg, #ddd, #bbb);
}

/* Style for the output values */
output {
    margin-top: 136px;
    font-size: 13.6px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    display: block;
}

/* Footswitch container */
.footswitch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

/* Footswitch button */
.footswitch {
    width: 68px;
    height: 68px;
    background: radial-gradient(circle, #bbb, #888);
    border: 2px solid #555;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    font-size: 13.6px;
}

.footswitch:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

/* Footswitch label */
.footswitch-label {
    margin-top: 0px;
    font-size: 13.6px;
    color: #ddd;
    text-shadow: 1px 1px 2px #000;
}

/* Styling for meters */
meter {
    width: 255px;
    height: 17px;
    margin-top: 10px;
}

/* Styling for canvas */
canvas {
    align-self: center;
    background-color: #444;
    border: 1px solid #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

/* Style for the LED indicator */
.led {
    width: 17px;
    height: 17px;
    background-color: rgb(131, 100, 1);
    border-radius: 50%;
    box-shadow: none;
    margin: 17px;
    transition: background-color 1s, box-shadow 1s;
}

.led.on {
    background-color: #ff0;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
}

/* Toggle button styling */
.toggle-button {
    margin: 17px;
    padding: 8.5px 17px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #777;
}

/* Hidden state for the settings container */
.settingsContainer.hidden {
    display: none;
}

.settingsContainer {
    gap: 15px;
    align-items: flex-start;
}

@media (max-width: 450px) {
    /* iPhone SE width */
    .pedalContainer {
        width: 90vw;
        padding: 15px;
        position: absolute;

        left: 0;
    }

    .pedalControlContainer label {
        top: 10px;
    }

    #pedal {
        width: 100%;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    h1 {
        font-size: 10vw;
    }

    /* slider Labels */
    label[for="fuzz"]::before {
        content: "F";
        visibility: visible;
    }
    label[for="lowcut"]::before {
        content: "HP";
        visibility: visible;
    }
    label[for="low"]::before {
        content: "L";
        visibility: visible;
    }
    label[for="mid"]::before {
        content: "M";
        visibility: visible;
    }
    label[for="high"]::before {
        content: "H";
        visibility: visible;
    }
    label[for="hicut"]::before {
        content: "LP";
        visibility: visible;
    }
    label[for="output"]::before {
        content: "O";
        visibility: visible;
    }

    .control {
        margin-bottom: 10px;
    }

    .vertical-slider {
        width: 100px;
        height: 30px;
    }
    .settingsContainer {
    }
    output {
        font-size: 12px;
    }

    canvas {
        width: 85vw;
        align-self: center;
    }
    meter {
        width: 30vw;
    }

    .footswitch {
        width: 50px;
        height: 50px;
        font-size: 12px;
    }
}
